<nav class="navbar bg-light" style="background: linear-gradient(90deg, rgb(195, 0, 47) 0%, rgb(0, 173, 225) 100%);">
  <div class="container-fluid">
    <a class="navbar-brand text-white" [routerLink]="['/']">
      <img [src]="logo" alt="" width="30" height="auto" class="d-inline-block align-text-top">
      Totaltech
    </a>

    <div class="float-end">
      <a class="navbar-brand text-white" [routerLink]="['/']">
        Usuarios
      </a>
      <a class="navbar-brand text-white" [routerLink]="['/albums']">
        Álbumes
      </a>
      <a class="navbar-brand text-white" [routerLink]="['/posts']">
        Publicaciones
      </a>
    </div>

  </div>

</nav>
